{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BP Hackathon{% endblock %}</title>

    <!-- Favicon Icons -->

    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">


    <!-- Shared styles used across all pages. -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- Page-specific styles can be injected here. -->
    {% block extra_css %}{% endblock %}
</head>

<body>
    <main class="container">
        <!-- Main page content area. -->
        {% block content %}{% endblock %}
    </main>
</body>

</html>